<div class="about-container">
    <h1>About Movie Explorer</h1>
    <p>
        Movie Explorer is a simple yet powerful web application that lets you discover popular movies and view detailed information about them. All movie data is fetched from the TMDb (The Movie Database) API, ensuring you get up-to-date and accurate information.
      </p>
      <p>
        This project is built using Angular, leveraging the power of Angular Material for responsive and modern UI components. The app demonstrates key Angular concepts such as standalone components, lazy loading, routing, and state management.
      </p>
      <p>
        The goal of this application is to provide a clean, intuitive interface to explore movies and learn modern Angular development practices. It is designed to be scalable and maintainable, allowing for easy feature extension and improvements.
      </p>


    <hr class="divider" />
    <div class="developer-info">
        <h2>About the Developer</h2>
        <p>This app was developed for learning Angular and has plans to extend more features in the future.</p>
        <p>Developed by Phyu Thant Kyaw(Myra)</p>

        <p>Feel free to connect via <a href="https://github.com/My1ra" target="_blank">GitHub</a> or <a href="https://www.linkedin.com/in/phyu-thant-kyaw-04254828b/" target="_blank">LinkedIn</a>.</p>
    </div>


  <p class="footer-note">© 2025 Movie Explorer. All rights reserved.</p>
</div>
